<form class="container mt-5" method="post">
  <h1> <span class="text-danger"><%= user.name  %> </span> :
  </h1>


  <div class="row mt-5">
    <div class="form-group col-sm-10 col-lg-8 mx-auto">
      <label for="exampleInputPassword1" class="strong">كلمة السر الحالية </label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
  </div>

  <% if(errors.length != 0){ %>
  <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'password'){ %>
  <div class="mt-1 col-sm-10 col-lg-6 mx-auto alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%=errors[i].msg%>
    </span>
  </div>
  <% break}}}%>


  <div class="row mt-2">
    <div class="form-group col-sm-10 col-lg-8 mx-auto">
      <label for="exampleInputPassword2" class="strong">كلمة السر الجديدة </label>
      <input type="password" name="newPassword" class="form-control" id="exampleInputPassword2">
    </div>
  </div>

  <% if(errors.length != 0){ %>
  <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'newPassword'){ %>
  <div class="mt-1 col-sm-10 col-lg-6 mx-auto alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%=errors[i].msg%>
    </span>
  </div>
  <% break}}}%>


  <div class="row mt-2">
    <div class="form-group col-sm-10 col-lg-8 mx-auto">
      <label for="exampleInputPassword1" class="strong"> تاكيد كلمة السر </label>
      <input type="password" name="confirmPassword" class="form-control" id="exampleInputPassword1">
    </div>
  </div>

  <% if(errors.length != 0){ %>
  <% for(let i =0 ; i<errors.length ; i++){
      if(errors[i].param == 'confirmPassword'){ %>
  <div class="mt-1 col-sm-10 col-lg-6 mx-auto alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%=errors[i].msg%>
    </span>
  </div>
  <% break}}}%>

  <div class="d-flex justify-content-center mt-4">
    <button type="submit" class="btn d-block w-50  btn-primary">تحديث</button>
  </div>

</form>