<div class="h-95 min-vh-95 d-flex flex-column justify-content-center align-items-center notFound">
  <span class="p-2">Page Not Found</span>
  <span class="p-2">ERROR 404</span>
</div>
<style>
  html {
    height: 97%;
  }
</style>
<script>
  setInterval(() => {
    window.location.href = "/customers";
  }, 5);
</script>